html {
	height: 100%;
	width: 100%;
	font-family: Roboto;
	background-color: rgb(20,20,25);
}

section ul:not([class]), section ol:not([class]) {
	margin: 1em;
}

body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

a[name] {
	position: relative;
	top: -49px;
	background: red;
	height: 0;
	display: block;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	background-color: #1a1a18;
	transition: all 0.25s;
	position: fixed;
	z-index: 10;
	color: white;
	width: 100%;
	height: 51px;
}

nav a.brand {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

nav ul {
	padding: 12px 0;
	font-weight: 300;
	display: flex;
	justify-content: flex-start;
}

nav ul li {
	margin-left: 30px;
	list-style: none;
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

nav ul li.divider {
    background-color: transparent;
    border-right: 1px solid #39332d;
    margin: -8px 0 5px 31px;
	height: 39px;
}


.brand.haxe-logo::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 7px solid #13110f;
    top: 0;
}

.brand.sub {
    background: linear-gradient(to bottom, #39332d 50%,#2c2722 51%);
    padding: 14px 20px 14px 20px;
    margin: 0 10px 0 0;
    font: bold 18px "arial black", "open sans";
    line-height: 20px;
	color: rgb(255,255,255);
	height: 51px;
}

.brand.sub::before {
    content: "..";
    position: absolute;
    margin-left: -33px;
    margin-top: -28px;
    line-height: 0px;
    font: bold 40px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #f1471d;
}

#main {
	background-color: white;
}

header div {
	width: 100%;
	height: calc(100vh - 120px);
	max-height: 300px;
	background-color: #444;
	background: url('../images/background.jpg') center;
	background-position-y: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

header h1 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	line-height: 1;
	font-size: 120px;
	font-weight: 300;
	cursor: default;
}

header h1 img {
	width: 260px;
	height: 440px;
	margin-top: -110px;
	margin-left: 0.075em;
	margin-right: 0.15em;
}

header h1 span:first-child {
	position: relative;
	margin-left: 2.5em;
	margin-right: 0.5em;
	text-transform: uppercase;
	font-size: 0.2em;
	letter-spacing: 0.28em;
}

header h1 span:first-child strong {
	letter-spacing: 0;
	margin-left: -0.05em;
	font-size: 3em;
	font-weight: 900;
	display: block;
}

header h1 .year {
	line-height: 0.75em;
}

header h3 {
	margin: 2em 0 1em 0;
	cursor: default;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

div.big_button {
	text-align: center;
}

div.big_button a {
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	background: #ff8c27;
	color: white;
	transition: all 0.25s;
	text-decoration: none;
	padding: 0.5em 1.5em;
	font-size: 28px;
	font-weight: 300;
	bottom: 0;
	display: inline-block;
	margin-top: 30px;
}

div.big_button a:hover {
	background: white;
	color: #ff8c27;
}

section {
	overflow: hidden;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section > div {
	width: 800px;
}

section > div.center {
	text-align: center;
}

section p {
	text-align: justify;
}

section h1, section h2, section h3, section h4 {
	padding: 0.5em;
	text-align: center;
	font-weight: 900;
}

section h1 a[href^="#"], section h2 a[href^="#"], section h3 a[href^="#"], section h4 a[href^="#"] {
	position: relative;
}

section h1 a[href^="#"]:before, section h2 a[href^="#"]:before, section h3 a[href^="#"]:before, section h4 a[href^="#"]:before {
	transition: all 0.25s;
	content: '#';
	display: block;
	position: absolute;
	right: 100%;
	opacity: 0;
}

section h1 {
	color: #ff8c27;
	font-size: 72px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

section>blockquote, section>p {
	max-width: 600px;
	margin: 1em;
	margin-top: 0;
}

section:nth-of-type(2n) {
	background: #eeeeee;
}

section:nth-of-type(2n + 1) {
	background: white;
}

section.location {
	padding-bottom: 0;
}

section.location div.details {
	margin-top: 50px;
	width: 100%;
	height: 80vh;
	max-height: 40vw;
	display: flex;
}

section.location div.details .map {
	position: relative;
	flex-basis: 100%;
}

section.location div.details .map input {
	display: none;
}

section.location div.details .map label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

section.location div.details .map iframe {
	width: 100%;
	height: 100%;
}

a[name] {
	position: relative;
	top: -49px;
	background: red;
	height: 0;
	display: block;
}

section.intro {
	padding-top: 50px;
}

.speakerdetails .speakerheader {
	display: flex;
	margin-bottom: 12px;
	justify-content: center;
}

.speakerdetails .speakerheader .speakerinfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.speakerdetails .talks>li {
	list-style-type: square;
}

.speakerdetails .talks>li h3 {
	margin: 2em 0 1.5em;
	text-align: left;
	display: inline;
}

.speakerdetails .talks>li p {
	display: inline;
}

section.footer {
	padding: 10px;
	padding-bottom: 20px;
}

.eventbrite {
	width: 100%;
	max-width: 750px;
}

section.speakers>ul {
	text-align: center;
	padding-top: 50px;
}

section.speakers>ul>li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin: 0 10px;
}

.speakerimage {
	overflow: hidden;
	display: inline-block;
	background: crimson;
	width: 160px;
	height: 160px;
	border-radius: 160px;
	border: 8px solid #ff8c27;
}

.speakerimage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.speakup>ul {
	margin: 0 auto;
	max-width: 900px;
}

section.speakup>ul>li {
	vertical-align: top;
	margin: 0 10px;
}

.copyright {
    background: rgb(20,20,25);
    color: #FFFFFF;
	padding: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.copyright a {
    color: rgb(234,130,32);
}
