<a name="joinus">&nbsp;</a>
<section>
	<div>
		<h1>
			<a href="#index">Join us!</a>
		</h1>

		::new tink.template.Html(content.intro)::
	</div>
</section>

<a name="news">&nbsp;</a>
<section>
	<div>
		<h1>
			<a href="#news">News</a> <a href="rss/"><img src="images/feed.png" alt="RSS Feed" /></a>
		</h1>

		::new tink.template.Html(content.news)::
	</div>
</section>

<a name="speakers">&nbsp;</a>
<section class="speakers">
	<h1>
		<a href="#speakers">Speakers</a>
	</h1>

	<ul>
		::for speaker in content.speakers::
			<li>
				<a href="speakers/::speaker.id::/">
					<div class="speakerimage">
						<img src="images/speakers/::speaker.image::" />
					</div>
					<h3>::speaker.name::</h3>
				</a>
				<span>::speaker.title::</span>
			</li>
		::end::
	</ul>
</section>

::if config.speakingOpen::
<a name="speakup">&nbsp;</a>
<section class="speakup">
	<div>
		<h1>
			<a href="#speakup">Speak up!</a>
		</h1>

		::new tink.template.Html(content.speakup)::

		<div class="big_button">
			<a href="::config.speakingLink::">Speak up!</a>
		</div>
	</div>
</section>
::end::

<!--
<a name="partners">&nbsp;</a>
<section class="partners">
	<div>
		<h1><a href="#partners">CHIP IN!</a></h1>
		<p>The Haxe Summit is like a yearly dose of fresh energy for the Haxe community and the makers of Haxe. Help us put
			on a good show and grow the community. Who knows, you might even meet your future Haxe developer while you are
			enjoying the Summit with us!</p>

		<h3>Sponsor the Event</h3>

		<p>Are you interested in sponsoring this event? Awesome, we would love to hear from you.</p>

		<div class="big_button">
			<a href="mailto:events@haxe.org">sponsor the event</a>
		</div>
	</div>
</section>

<a name="tickets">&nbsp;</a>
<section class="tickets">
	<div>
		<h1><a href="#tickets">Tickets</a></h1>

		::if config.stage == "EarlyPlanning"::
			Tickets aren't open yet, check back later.
		::else if config.stage == "TicketsOpen"::
			<div id="eventbrite-widget-container-::config.eventBriteId::" class="eventbrite"></div>

			<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

			<script type="text/javascript">
				var exampleCallback = function () {
					console.log('Order complete!');
				};

				window.EBWidgets.createWidget({
					widgetType: 'checkout',
					eventId: '::config.eventBriteId::',
					iframeContainerId: 'eventbrite-widget-container-::config.eventBriteId::',
					iframeContainerHeight: 310,
					onOrderComplete: exampleCallback
				});
			</script>
		::else::
			Tickets are no longer available.
		::end::
	</div>
</section>

<a name="location">&nbsp;</a>
<section class="location">
	<div>
		<h1>
			<a href="#location">Location</a>
		</h1>

		<p>
			The conference will take place at ::config.address::.
		</p>
	</div>

	<div class="details">
		<div class="map">
			<iframe	src="::config.mapUrl::" width="100%" height="450" frameborder="0" allowfullscreen="true"></iframe>
		</div>
	</div>
</section>

<a name="travel">&nbsp;</a>
<section id="travel">
	<div>
		<h1>
			<a href="#travel">Travel</a>
		</h1>

		::new tink.template.Html(content.travel)::
	</div>
</section>
-->

<a name="schedule">&nbsp;</a>
<section class="schedule">
	<h1><a href="#schedule">Schedule</a></h1>

	No schedule yet, check back later.
</section>

<section class="footer">
	<h1>
		<a href="#contact">CONTACT</a>
	</h1>
	<p>
		Do you have any questions or suggestions? Don’t hesitate to let us know.
	</p>

	<div class="big_button">
		<a href="mailto:events@haxe.org">Contact us</a>
	</div>
</section>
