<a name="index">&nbsp;</a>
<section class="intro">
	<h1>
		<a href="#index">JOIN US!</a>
	</h1>
	<p>
		The ::config.zone:: Haxe Summit is a ::config.length:: days event which will take place in ::config.town:: in
		::config.dates:: ::config.year::.
		It is the main Haxe Community Event in the ::config.zone:: and a great meeting spot for the people who create
		Haxe, people who work with it or people who are new to Haxe and want to explore it.
	</p>
</section>

<a name="speakers">&nbsp;</a>
<section class="speakers">
	<h1>
		<a href="#speakers">Speakers</a>
	</h1>

	<ul>
		::for speaker in content.speakers::
			<li>
				<a href="speakers/::speaker.id::/">
					<div class="speakerimage">
						<img src="/images/speakers/::speaker.image::" />
					</div>
					<h3>::speaker.name::</h3>
					<span>::speaker.title::</span>
				</a>
			</li>
		::end::
	</ul>
</section>

::if config.speakingOpen::
<a name="speakup">&nbsp;</a>
<section class="speakup">
	<h1>
		<a href="#speakup">SPEAK UP!</a>
	</h1>
	<p>
		Are you:
		<ul>
			<li>doing something exciting with Haxe that you would love to tell us about</li>
			<li>solving a pesky problem (workflows and tooling, anyone?);</li>
			<li>looking to pass on some Haxian wisdom?</li>
		</ul>
	</p>
	<p>
		Then we would love to hear from you!
	</p>
	<p>
		We are interested in quick showcases, more thorough presentations and full workshops.
	</p>
	<p>
		Not sure if you should get up on that stage? Apply anyway! We will help you figure it out.
	</p>
	<a class="big_button" href="::config.speakingLink::">Speak Up!</a>
</section>
::end::

<!--
<a name="partners">&nbsp;</a>
<section class="partners">
	<h1><a href="#partners">CHIP IN!</a></h1>
	<p>The Haxe Summit is like a yearly dose of fresh energy for the Haxe community and the makers of Haxe. Help us put
		on a good show and grow the community. Who knows, you might even meet your future Haxe developer while you are
		enjoying the Summit with us!</p>

	<h3>Sponsor the Event</h3>

	<p>Are you interested in sponsoring this event? Awesome, we would love to hear from you.</p>
	<a class="big_button" href="mailto:events@haxe.org">sponsor the event</a>
</section>
-->

<a name="tickets">&nbsp;</a>
<section class="tickets">
	<h1><a href="#tickets">Tickets</a></h1>

	::if config.stage == "EarlyPlanning"::
	Tickets aren't open yet, check back later.
	::else if config.stage == "TicketsOpen"::
	<p>
		The full ticket price will be ::config.price:: so take advantage of our Early bird pricing now!
		<br />
		Early bird pricing will be until ::config.earlyBirdEndDate::.
	</p>

	<div id="eventbrite-widget-container-::config.eventBriteId::" class="eventbrite"></div>

	<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

	<script type="text/javascript">
		var exampleCallback = function () {
			console.log('Order complete!');
		};

		window.EBWidgets.createWidget({
			widgetType: 'checkout',
			eventId: '::config.eventBriteId::',
			iframeContainerId: 'eventbrite-widget-container-::config.eventBriteId::',
			iframeContainerHeight: 310,
			onOrderComplete: exampleCallback
		});
	</script>
	::else::
	Tickets are no longer available.
	::end::
</section>

<a name="location">&nbsp;</a>
<section class="location">
	<h1>
		<a href="#location">Location</a>
	</h1>

	<p>
		The conference will take place at ::config.address::
	</p>

	<div class="details">
		<div class="map">
			<iframe	src="::config.mapUrl::" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen="true"></iframe>
		</div>
	</div>
</section>

<section>
	<h1>
		<a href="#travel">Travel</a>
	</h1>

	<h2>By plane</h2>

	Linz am Rhein is easily reachable by public transport from multiple airports:

	<ul>
		<li>Cologne Bonn Airport (CGN)</li>
		<li>Frankfurt Airport (FRA)</li>
		<li>D&uuml;sseldorf Airport (DUS)</li>
	</ul>

	<h2>By train</h2>

	<p>There is a direct train route from M&ouml;nchengladbach &rarr; Cologne &rarr; Bonn &rarr; Linz am Rhein</p>
	<p>and in the other direction from Koblenz &rarr; Linz am Rhein</p>

	There are various very beautiful routes into Koblenz from the south. Cologne has direct connections from many cities such as Frankfurt, Amsterdam, Berlin, Hamburg and Paris.

	<h2>By car</h2>

	Linz am Rhein is located on the B42 which connects Bonn and Koblenz. It is also only 20 minutes from the A3 on the section between Cologne and Frankfurt.

	<h2>By boat...?</h2>

	Well, we won't stop you. Just hop on a boat on the Rhine and you'll find us!
</section>

<a name="schedule">&nbsp;</a>
<section class="schedule">
	<h1><a href="#schedule">Schedule</a></h1>

	No schedule yet, check back later.
</section>

<section class="footer">
	<h1>
		<a href="#contact">CONTACT</a>
	</h1>
	<p>
		Do you have any questions or suggestions? Don’t hesitate to let us know.
	</p>
	<a class="big_button" href="mailto:events@haxe.org">contact us</a>
</section>
