<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>::if title != ""::::title:: - ::end::Haxe Summit ::config.year:: in ::config.town::</title>
		<link rel="stylesheet" href="::rootPath::styles/common.css" />
		::for style in extraStyles::
			<link rel="stylesheet" href="::rootPath::styles/::style::.css" />
		::end::
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="twitter:image" content="https://summit.haxe.org/::config.zone::/::config.year::/images/banner.png" />
		<meta name="twitter:title" content="::config.zone:: Haxe Summit ::config.year::" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://summit.haxe.org/::config.zone::/::config.year::/" />

		<link rel="icon" href="::rootPath::favicon.png" type="image/png" />

		<meta property="og:url" content="https://summit.haxe.org/::config.zone::/::config.year::/" />
		<meta property="og:title" content="::config.zone:: Haxe Summit ::config.year::" />
		<meta property="og:image" content="https://summit.haxe.org/::config.zone::/::config.year::/images/banner.png" />
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="::rootPath::#joinus">Join us</a></li>
				<li><a href="::rootPath::#speakers">Speakers</a></li>
				<li><a href="::rootPath::#speakup">Speak up</a></li>
				<!--<li><a href="::rootPath::#partners">Partners</a></li>-->
				<li><a href="::rootPath::#tickets">Tickets</a></li>
				<li><a href="::rootPath::#location">Location</a></li>
				<li><a href="::rootPath::#travel">Travel</a></li>
				<li><a href="::rootPath::#schedule">Schedule</a></li>
				<li><a href="mailto:events@haxe.org">Contact</a></li>
			</ul>
		</nav>

		<header>
			<h1>
				<span><strong>Haxe</strong> ::config.zone::-Summit</span>
				<img src="::rootPath::images/logo-transparent.png" />
				<span class="year">::config.year::</span>
			</h1>
			<h3>::config.dates:: <span>@</span> ::config.town::</h3>
		</header>

		::content::
	</body>
</html>
